/*Contains styles for the header section of the page
Author: Jason Kingston
*/

.header {
    nav {
        padding: 1.0625rem 1.5rem;
    }

    &__logo {

        img {
            width: 8.8125rem;
            height: 1.375rem;
            
        }

    }

    &__menu { //Mobile menu

        > span {
            display:block;
            width: 26px;
            height: 3px;
            background-color: $darkBlue;
            // background-color: #ad03fc;

            &:not(:last-child) {
                margin-bottom: 5px;

            }
        }
    }

    &__links {
        border: 1px solid red;
        a {
            font-size: $font-small;
            color: $grayishBlue;
            transition: color 200ms ease-in-out;
        
            &:not(:last-child) {
                margin-right: 32px;
            }

            &:hover {
                color: $darkBlue;
            }
        }
    }

    &__cta {
        font-size: $font-small;


    }
}