/*Contains styles for the header section of the page
Author: Jason Kingston
*/

.header {
    nav {
        padding: 24px;
    }

    &__logo {

        img {
            
        }

    }

    &__menu { //Mobile menu

        > span {
            display:block;
            width: 26px;
            height: 3px;
            background-color: $darkBlue;
            // background-color: #ad03fc;

            &:not(:last-child) {
                margin-bottom: 5px;

            }
        }
    }

    &__links {
        a {
            font-size: $font-small;
            color: $grayishBlue;
        }
    }

    &__cta {
        font-size: $font-small;

    }
}